<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moontech.sms.mapper.matMapper">
  <select id = "recentValue">
    SELECT MAT_SQ FROM tb_mat ORDER BY MAT_SQ DESC LIMIT 1;

  </select>

  <select id = "matSqList" resultType="com.moontech.sms.vo.MatVO">
    SELECT DISTINCT MAT_SQ FROM tb_mat ORDER BY MAT_SQ
  </select>

  <select id = "matStockList" resultType="com.moontech.sms.vo.MatVO">
    SELECT  M.MAT_SQ, M.MAT_NM, S.STOCK_AMT FROM tb_mat_stock S, tb_mat M WHERE M.MAT_SQ = #{matSq} AND S.MAT_SQ = M.MAT_SQ ORDER BY S.STOCK_SQ DESC LIMIT 1
  </select>

<!-- CREATE 할때 STOCK에도 추가하고 DELETE할때는 STOCK에서도 삭제할 것 -->

  <insert id = "create">
    INSERT INTO TB_MAT(
        MAT_SQ, MAT_NM, MAT_SIZE, PICTURE, STAN_PRICE, WEIGHT)
    VALUES (#{matSq}, #{matNm}, #{matSize}, #{picture}, #{matPrice}, #{matWeight} )
  </insert>

</mapper>